* {
  font-family: sans-serif;
}

header {
  background-color: #444444;
  width: 101%;
  height: 100px;
  position: relative;
  margin-top: -0.5%;
  margin-left: -0.5%;
}

nav {
  position: relative;
  left: 19.15%;
  width: 960px;
}

ul {
}

#nav-bar {
  display: inline;
  height: 100px;
}

#logo {
  position: relative;
  top: 15px;
  left: 1%;
}

.nav-items {
  position: relative;
  display: inline;
  bottom:15px;
  margin: 3%;
  color: rgb(122, 122, 122);
  transition: background-color 350ms ease;
  padding: 15px;
  border-radius: 10px;
}

.nav-items:hover {
  background-color: rgb(0, 0, 0);
}

#banner {
  max-width: 960px;
  padding-top: 0.8%;
  margin-left: auto;
  margin-right: auto;
}

#sub-banner{
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.sub-banner-li {
  display: inline;
  margin: auto;
}

#sub-banner-one {
  float: left;
}

#sub-banner-two {
  float: none;
  margin: auto;
  padding-left: 3.25%;
}

#sub-banner-three {
  float: right;
}

#featured-section-banner {
  width: 960px;
  /*margin-left: 19.35%;*/
  margin: 2% auto;
  display: block;
}

#featured-section-image{
  display: inline-block;
}

div#featured-section-div {
  height: 359px;
  display: inline-block;
  margin-left: 2.5%;
  position: absolute;
}

h3#featured-section-h3 {
  margin: 0;
}

p#featured-section-verbiage {
  overflow: hidden;
  width: 425px;
  height: 85%;
  display: inline-flex;
  font-style: italic;
  padding-right: 15%;
}

p#featured-section-verbiage:hover {
  overflow-y: scroll;
  padding-right: 25px;
  margin-right: 0;
}

#call-to-action {
  width: 175px;
  height: 41px;
  background-color: black;
  color: white;
  font-size: 115%;
  display: block;
  border: none;
  transition: background-color 350ms ease;
}

#call-to-action:hover {
  background-color: rgb(0, 29, 152);
}

footer {
  background-color: #444444;
  width: 101%;
  height: 150px;
  position: relative;
  margin-left: -0.5%;
}
